body {
    margin: 0;
    padding: 0;
  }
  
  .container_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  h1,h2{
    
    text-align: center;
   
  }
  
  .description {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
   
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .images img {

    display: block;
    width: 500px; /* Set your preferred width */
    height: 400px; /* Set your preferred height */
    object-fit: cover; 
  }
.symbols {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}


.symbol1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbols-description {
    flex: 1;
    padding: 0 20px;
    background-color: #f0f0f0;
}

.symbol1 img {
    width: 300px;
    height: 200px;
    
}
.symbol2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbol2 img {
    width: 300px;
    height: 200px;
    
}
.symbol3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbol3 img {
    width: 300px;
    height: 200px;
    
}
.symbol4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbol4 img {
    width: 300px;
    height: 200px;
    
}
.symbol5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbol5 img {
    width: 300px;
    height: 200px;
    
}
.symbol6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.symbol6 img {
    width: 300px;
    height: 200px;
    
}